$black : #333333;
$green :#83a846;
$white: #fff;

/** Common Style **/
body{
    font-family: 'Raleway', sans-serif;
}

.jumbotron{
    border-radius: 0;
}

.btn-wa {
    background-color: $green;
    padding: 10px ;
    border-radius: 0em;
    color:$white;
}

.box-shadow {
    box-shadow: 5px 5px 5px 0px rgba(196,196,196,1);
}

.bg-footer{
    background-color:$black;
}

.form-control{border-radius: 0;}
/****** End Common Style ***********/

/********* Page Tour *******/
.bg-tour{
    background-image: url(https://media.tripcentral.ca//media/00_0L_AB_Vacations-Packages-to-Mexico-Caribbean.jpg);
}

.list-tour{
    border: 1px solid #E9ECEF;
}
/********* End Page Tour ******/

